.banner {
    height: 700px;
    background-image: url('./../img/parking-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: rgba(0, 0, 0, .8);
    padding: 30px;

    h1 {
        color: #fff;
        
        span {
            font-weight: lighter;
        }
    }
}