.main-container {
    height: 100vh;
}

.navbar {
    background-color: #171717 !important;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.3);
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #171717;
    color: #fff;

    a {
        margin: 0 10px;
        color: #fff;
    }
}