.navbar{
    background-color: #171717 !important;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.3);
}
footer{
    background-color: #171717;
    color: #fff;
    a{
        margin: 0 10px;
        color: #fff;
    }
}