body{
    background: rgba(0, 0, 0, .8);
    color: #fff;
}
.card {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.3);
}